*{
  margin:0;
  padding:0;
  box-sizing: boder-box;
}

body{
  background: linear-gradient(207deg, rgba(0,151,178,1) 11%, rgba(203,108,230,1) 36%, rgba(0,151,178,1) 59%, rgba(203,108,230,1) 83%);
  
}

a{
  text-decoration: none;
}

li {
  list-style-type: none;
}